<div class="input-group">
  <span class="input-group-addon" id="basic-addon{{nr}}">{{addon}}</span>
  <input type="{{#if pw}}password{{else}}text{{/if}}" class="form-control" name="{{name}}" placeholder="{{holder}}" aria-describedby="basic-addon{{nr}}">
</div>
<br>